.letra-roja-bold{
    color: rgb(246, 45, 45);
    font-weight: 100;
    font-size: 1.05rem;
    text-align: start;
    padding: 0;
    margin: 0;
}

.letra-roja-bold p{
    padding: 0;
    margin: 0;
}

.h-200{
  /* height: 200px;*/
}